# this is the gitignore file

# we can mention the names of the other files in the repo
#that we would like to ignore from being tracked in version control



# clutter files
__pycache__
.pytest_cache

# secret credentials
